@tailwind base;
@tailwind components;
@tailwind utilities;

/* pre {
  @apply text-sm;
  font-family: monospace;
  padding: 1rem;
  background-color: #f7f9fa;
  border-radius: 0.5rem;
  overflow-x: auto;
}

code {
  @apply text-xs;
  font-family: monospace;
  padding: 0.25rem 0.5rem;
  background-color: #f7f9fa;
  border-radius: 0.25rem;
} */
